:root {
    --primary-color: #03DAC5;
    --bg-color: #121212;
    --secondary-color: purple;
    --font-color: #f5f5f5;

    --primary: 0, 0%, 100%;
    --secondary: 202, 73%, 28%;
    --c: cubic-bezier(1, .49, .16, .96);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    background-color: var(--bg-color);
    color: var(--font-color);
    height: 100%;
    margin: 0;
}

.splash {
    background: url(../img/splash-bg-3.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.navigation {
    padding: 5vh;
}

.navbar-nav {
    padding: 0 5rem 0 2rem;
}

.nav-link {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    transition: font-size 0.3s;
    line-height: 1.5rem;
    background-color: var(--font-color);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
}

.active .nav-link {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    background-color: var(--primary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.nav-link:hover {
    font-size: 2rem;
    font-weight: 600;
    background-color: var(--primary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.splash-text {
    width: 100%;
    margin-top: 15vh;
    text-align: center;
    cursor: default;
}

.lname {
    color: var(--primary-color);
}

.splash-text .fname span,
.splash-text .lname span {
    /* display: none; */
    font-weight: 500;
    font-size: 4em;
    font-family: 'Oswald', sans-serif;
    padding-right: 2.5vw;
    transition: all 0.2s;
}

.splash-text .fname span:hover {
    color: var(--primary-color);
}

.splash-text .lname span:hover {
    color: var(--font-color);
}

.cta {
    width: 100%;
    padding-top: 2rem;
}

.cta .col-md-3 {
    padding: 1rem;
}

.cta-button {
    position: relative;
    width: 12rem;
    height: 3rem;
    display: flex;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    border: 0;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    background-color: var(--font-color) 0.3;
    border-radius: 1.625rem;
    margin: auto;
}

.cta-button:focus {
    outline: none;
}

.cta-button .circle {
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: var(--font-color);
    border-radius: 1.625rem;
    transition: all 0.3s;
}

.cta-button .icon {
    position: absolute;
    top: 0.5rem;
    bottom: 0;
    left: 0;
    right: 9rem;
    color: black;
}

.cta-button .button-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 1rem 0 4rem;
    color: var(--font-color);
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    transition: all 0.5s;
}

.cta-button:hover .circle{
    width: 100%;
    background: black;
}

.cta-button:hover .button-text{
    color: var(--font-color);
}

.cta-button:hover .git-icon{
    color: white;
}

.cta-button:hover .li-icon{
    color: #4fc3f7;
}