html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  background-color: #121212;
  font-family: 'Oswald', sans-serif;
  color: #f5f5f5;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.2);
  background-size: cover;
  ackground-repeat: no-repeat;
  background-position: center;
  height: 100%;
}


.top-alert{
  text-align: center;
  background: #f57f17;
  color: black;
}

.main {
  background-image: url("../res/background-min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.main-text{
  display: none;
  padding: 150px;
  text-align: center;
  font-size: 4em;
  background-color: rgba(256,256,256,0);
}

.about-me {
  text-align: center;
  height: 100%;
}

.about-me-text {
  text-align: center;
}

#scrolldown {
  text-align: center;
}

#scrolldown a img{
  background-color: rgba(21,21,21,0.7);
  border-radius: 50%;
}

.card {
  display: inline-block;
  background-color: #434343;
  margin: 20px;
  margin-top: 70px;
}

.card-img-top {
  width: 20%;
  /* height: 100%; */
  /* padding: 20px; */
}

.quote{
  padding: 80px;
  text-align: center;
  font-size: 2em;
}
